<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function ShowSection(section)
        {
            fetch(`/sections/${section}`)
            .then(response=>response.text())
            .then(text=>{
                console.log(text);
                document.querySelector('#content').innerHTML=text;

            })
        }
        window.onpopstate=function(event){
            console.log(event.state.section);
            ShowSection(event.state.section);
        }
        document.addEventListener('DOMContentLoaded',buttonmagic);
        function buttonmagic()
        {
            document.querySelectorAll('button').forEach(button =>{
                button.onclick=function(){
                    const section=this.dataset.section;
                    history.pushState({section:section},"",`section${section}`);
                    ShowSection(section);
                }
            })
        }
    </script>
</head>
<body>
    <h1>HELLO</h1>
    <button data-section="1">Section 1</button>
    <button data-section="2">Section 2</button>
    <button data-section="3">Section 3</button>
    <div id="content"></div>
    
</body>
</html>